* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 100vh;
  background-color: #64e2ed;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.logo {
  border-radius: 20px;
}

.header img {
  height: 100%;
}

.winning-number {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.winning-number span {
  margin-right: 30px;
  color: white;
}

.bnus-num {
  background-color: white;
  padding: 4px 15px;
  border-radius: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: white;
  font-size: 50px;
}

.main span {
  font-size: 20px;
  margin-right: 10px;
}

.arrow {
  margin-top: 60px;
}
