/* 번호 1~10번 노랑, 10~20번 파랑, 20~30번 빨강 30~40번 회색 , 40~45번 초록*/
.ball-yello {
  background-color: #fbc400;
}
.ball-blue {
  background-color: #69c8f2;
}
.ball-red {
  background-color: #ff7272;
}

.ball-gray {
  background-color: #aaa;
}
.ball-green {
  background-color: #b0d840;
}

/* --------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* header--------------------------------------------------- */

/* section1--------------------------------------------------*/
.section1 {
  width: 100vw;
  height: 100vh;
  background-color: orange;

  padding-top: 15vh;
  text-align: center;
  display: block;
  /* flex-direction: column; */
}

.section1 .section1-text {
  font-size: 32px;
}

.section1 .drw-no {
  color: #d43301;
}

.section1 .winning-number {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section1 .winning-number .ball {
  color: white;
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  line-height: 56px;
  display: inline-block;
}
.section1 .winning-number .ball-plus {
  color: #999999;
  font-weight: 900;
}

/* section2------------------------------------------------- */

/* section3------------------------------------------------- */

/* section4------------------------------------------------- */
